/* /* 

/* main */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0 10px;
  background-color: #f5f5f5;
}
/* .wrapper {
  max-width: 1100px;
  margin: 0px auto;
  background-color: #f5f5f5;
} */
/* nav */
#home .nav-container {
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;
}
#home .nav-container nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#home .nav-container nav .nav-left img {
  display: block;
  width: 30px;
}
#home .nav-container nav .humburgar {
  width: 20px;
  height: 20px;
}
#home .nav-container nav .humburgar .line {
  width: 100%;
  height: 3px;
  background-color: #997950;
  margin: 5px;
}
#home .nav-container nav .nav-right ul {
  display: none;
} */
/* #home .nav-container nav .nav-right ul {
  display: flex;
}
#home .nav-container nav .nav-right ul li {
  font-family: "cormorant_garamondlight";
  list-style: none;
  padding: 0 20px;
}
#home .nav-container nav .nav-right ul li:last-child {
  padding-right: 0px;
}
#home .nav-container nav .nav-right ul li a {
  color: #997950;
  font-size: 20px;
  font-weight: 600;
} */

/* spotlight  */

/* #home .spotlight {
  display: flex;
  margin-top: 7%;
  justify-content: space-between;
  padding: 20px;
}
#home .spotlight .social-bar {
  height: 80vh;
  width: 50px;
  background-color: #b17769;
}
#home .spotlight .right {
  width: 500px;
  height: 500px;
  background-image: url("./assets/img.jpeg");
  background-size: cover;
}
#home .spotlight .left {
  z-index: 2;
  font-family: "cormorant_garamondlight";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#home .spotlight .left h1,
#home .spotlight .left h4 {
  font-size: 90px;
  letter-spacing: 3px;
  color: #997950;
  font-weight: 400;
}
#home .spotlight .left .top {
  flex: 2;
}
#home .spotlight .left h4 {
  font-size: 35px;
}
#home .spotlight .left p {
  font-weight: 900;
  color: #997950;
  flex: 2;
}
#home .spotlight .left .icon span img {
  width: 20px;
}
 */
